
  <section class="sticky-top desktop-navbar d-none d-md-block">
    <nav class="header d-flex justify-content-around align-items-center" aria-label="header">
      <div class="clickable">
        <a routerLink="" >
          <img src="../../../assets/logo.png" alt="logo" height="70" width="100">
        </a>
      </div>
      <div class="nav-items">
        <ul class="d-flex justify-content-between m-0 gap-3 list-style-none cursor-pointer">
          <a href="#"  class="text-decoration-none li-link">
            <li class="font-500">Home</li>
          </a>
          <a href="#destination"  class="text-decoration-none li-link">
            <li class="font-500">Destinations</li>
          </a>
          <a href="#packages"   class="text-decoration-none li-link">
            <li class="font-500">Popular Plans</li>
          </a>
          <a href="#about"   class="text-decoration-none li-link">
            <li class="font-500">About Us</li>
          </a>
          <a href="#contact"   class="text-decoration-none li-link">
            <li class="font-500 ">Contact Us</li>
          </a>
        </ul>
      </div>
    </nav>
  </section>

  <section class="mobile-navbar d-md-none sticky-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-style">
        <div class="d-flex justify-content-between align-items-center w-100 px-2">
          <div class="p-2 d-flex border-rounded text-bold align-items-center">
            <a routerLink="">
              <img src="../../../assets/logo.png" alt="logo" height="60" width="100">
            </a>
          </div>
          
          <div class="d-flex justify-content-center align-items-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
                <img src="../../../assets/menu.svg" height="40" width="40" alt="Menu">
              </span>
            </button>
          </div>
        </div>
        <div class="p-2 collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="" >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#destination" >Destinations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#packages" >Popular Plans</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about" >About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact" >Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
  </section>


