
 @media (min-width: 768px) { /* Bootstrap 'md' breakpoint */
   .w-85 {
     width: 85%;
   }
   .p-4{
      padding: 0px;
   }
   .card-img-top{
      height: 200px;
    }
 }


 .card {
   background: var(--surface-card);
   padding: 2rem;
   border-radius: 10px;
   margin-bottom: 1rem;
}