<section id="footer" class="section-footer  gap-4 mt-0 mt-md-4 p-4 rounded mx-auto">
  <div class="top-data d-flex text-white justify-content-between">
        <button class="btn mb-3 mb-sm-0 p-0">
          <img src="../../../assets/logo.png" width="90" height="50" alt="logo">
        </button>
          <ul class="d-flex list-footer p-0 gap-3 m-0 ">
            <li>Home</li>
            <li>Destinations</li>
            <li>Packages</li>
            <li>Contact Us</li>
            <li>About us</li>
          </ul>
        <div class="top-right d-flex justify-content-end  align-items-center gap-3">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M18.2048 2.25H21.5128L14.2858 10.51L22.7878 21.75H16.1308L10.9168 14.933L4.95084 21.75H1.64084L9.37084 12.915L1.21484 2.25H8.04084L12.7538 8.481L18.2048 2.25ZM17.0438 19.77H18.8768L7.04484 4.126H5.07784L17.0438 19.77Z" fill="white"/>
              </svg>
          </div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M6.94048 4.99993C6.94011 5.81424 6.44608 6.54702 5.69134 6.85273C4.9366 7.15845 4.07187 6.97605 3.5049 6.39155C2.93793 5.80704 2.78195 4.93715 3.1105 4.19207C3.43906 3.44699 4.18654 2.9755 5.00048 2.99993C6.08155 3.03238 6.94097 3.91837 6.94048 4.99993ZM7.00048 8.47993H3.00048V20.9999H7.00048V8.47993ZM13.3205 8.47993H9.34048V20.9999H13.2805V14.4299C13.2805 10.7699 18.0505 10.4299 18.0505 14.4299V20.9999H22.0005V13.0699C22.0005 6.89993 14.9405 7.12993 13.2805 10.1599L13.3205 8.47993Z" fill="white"/>
              </svg>
          </div>
          <div class="pointer-cursor">
            <a href="https://www.instagram.com/mountains_r_magical_/">
              <img src="../../../assets/instagram.png"  width="40" height="40" alt="Follow On Youtube">
            </a>
          </div>
        </div>
    </div>
<div>
<hr class="border border-danger border-2 opacity-50">
</div>
  <div class="bottom-data mt-4 text-white d-flex justify-content-between fw-light">
   <div>
    <footer class="fw-ligher">&copy; Copyright 2024 Mountains are Calling </footer>
   </div>
      <p class="m-0 fw-lighter">
         Designed and Developed by <a href="https://www.linkedin.com/in/naseer-ahmad-a59096229/" class="no-underline text-white fw-bold">   Naseer Ahmad</a>
      </p> 
     
  </div>
  <div class="privacy-links text-white">
    <ul class="justify-content-center d-flex  gap-3 fw-light">
      <li > Privacy </li>
      <div class="vr"></div>
      <li>Terms and conditions</li>
    </ul>
  </div>
</section>