

.content {
    position: relative;
    z-index: 1; /* Ensure content is above the overlay */
}

.cta-button {
    background-color: #EAB308; /* Button color */
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #EAB308; /* Button hover color */
}

// .blurred {
//     filter: blur(3px); /* Adjust the blur amount as needed */
// }

/* background-video.component.css */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#backgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #backgroundVideo {
      width: 100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #backgroundVideo {
      width: auto;
      height: 100%;
  }
}

  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #247c2a;
    font-size: 2rem;
    text-align: center;
    z-index: 1;
  }
  


 
.hero {
  position: relative;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  transform: translate(-50%, -50%);
  object-fit: cover; /* Cover the entire area */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 2; /* Ensure overlay is above the video */
}

.hero-content {
  position: relative;
  z-index: 3; /* Ensure text is above the overlay */
  color: white; /* Text color */
  text-align: center;
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  font-size: 3rem; /* Adjust font size as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Optional: add shadow for better visibility */
}
// @media (max-width: 768px) {
//   .background-video{
//       height: auto;
//   }
// }