<div class="d-flex justify-content-center mx-auto text-secondary w-85 mb-2">
  <div class="left">
    <div>
        <i class="fa-thin fa-phone"></i>
        <p class="m-0">8491015362</p>
       </div>
    
       <div>
        <i class="fa-thin fa-phone"></i>
        <p class="m-0">8491015362</p>
       </div>
    
        <div> <i class="fa-thin fa-envelope"></i>
            <p class="m-0">darSabzaar3313.com</p>
        </div>
    
        <div>
            <i class="fa-thin fa-location-dot"></i>
            <p class="m-0">Kangan Ganderbal</p>
        </div>
  </div>
  <div class="right">
    <div class="d-flex gap-2">
        <div> <i class="fa-brands fa-facebook"></i></div>
        <div> <i class="fa-brands fa-instagram"></i></div></div>
  </div>
</div>
